/* body 
  {
  background-color: #000;
  font-family: sans-serif;
  }

.container 
  {
  background-color: #ddd;
  box-shadow: 2px 2px 4px #222;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
  width: 640px;
  }

.container-center 
  {
  margin: 0 auto;
  position: relative;
  width: 447px;
  }

.board 
  {
  background-color: rgb(23, 110, 23);
  border: solid 1px #000;
  box-shadow: 2px 2px 4px #222;
  }

/* .board-cells 
  {
  border-collapse: collapse;
  margin: 10px;
  } */

.cell 
  {
  height: 50px;
  width: 50px;
  } */